# Service Configuration
API_VERSION=v1
LOG_LEVEL=INFO
ENVIRONMENT=development

# AWS Configuration
AWS_REGION=us-west-1
AWS_PROFILE=appify-unshackle

# Database Configuration
DB_SECRET_ID=appify/unshackle/identity/db
DB_NAME=tenants

# Credential Cache Configuration (in seconds)
CREDENTIAL_CACHE_TTL=3600
